:root {
    --color: #11333E;
    --color-bottom: #538a9a;
    --color-hover: #FFD567;
    --color-success: #1cc88a;
}
/* QUITAR BARRAS DE SCROLL*/

.content__products::-webkit-scrollbar {
    display: none;
}

.content__categories::-webkit-scrollbar {
    display: none;
}

.content__table::-webkit-scrollbar {
    display: none;
}

.error-button{
    border-color: #e74a3b !important;
}

/*Estilos Globales*/
.bg-color {
    background: var(--color) !important;
    background-color: rgba(0,0,0,0.1);
}

.bg-color-bottom{
    background: var(--color-bottom) !important;
}

.text-color {
    color: var(--color);
}

.lh-8{
    line-height: 8px;
}

img {
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}


.sidebar {
    /*background: #5D6060 !important;*/
}

.sidebar .nav-item .nav-link span{
    margin-left: 3px;
}

/* ANCHOS PERSONALIZADOS */
.w-40{
    width:35%
}

.w-xl-75{
    width: 75%;
} 

.w-32{
    width:32%
}

.w-90{
    width:90%
}
.w-10{
    width:10%
}

.w-24{
    width:24%
}

.w-49{
    width:49%
}

.w-58 {
    width:63%;
}

.w-70 {
    width:69%;
}

.w-30 {
    width:30%;
}

.container-fluid {
    max-width: 1400px !important;
    height: calc(100% - 100px) !important;
}

.active-method {
    border: 2px solid var(--color-success);
}

/* ESTILOS DE EL WIZARD */
.wizard-navigation{
    position: relative;
}

.wizard-navigation ul{
    display: flex;
    flex-wrap: wrap;
}

.wizard-navigation ul li a{
    text-decoration: none;
    padding: 10px 25px;
    color: white;
}

.wizard-navigation ul li{
    list-style: none;
    flex: 1;
    max-width: 500px;
    background: #5D6060;
    display: flex;
    justify-content:center;
    cursor: pointer;
}

.moving-tab {
    position: absolute;
    text-align: center;
    padding: 10px;
    background-color: var(--color);
    top: 0px;
    left: 0px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
    width: 50%;
}

.tab-pane-wizard {
    display:none;
}

.tab-active{
    background: var(--color) !important;
}

.tab-pane-active{
    display: block;
}

.btn-previous {
    display: none !important;
}

.btn-next {
    display: none !important;
}

.btn-finish {
    display: none !important;
}

.pull-btn-active {
    display: block !important;
}

/* COLOCAR SOMBRAS A LAS CAJAS Y UN RADIUS */
.radius {
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow :2px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

/* ESTILOS DEL CONTENIDO DE LA TABLA Y PRODUCTOS */
.content__parent {
    display: flex;
    flex-direction: column;
}

.content__table{
    min-height: 180px;
    overflow: scroll;
    margin-bottom: 30px;
}

.content__table-parent {
    width: 100%;
}

.content__total {
    width: 87%;
    margin:0 auto; 
    min-height: 100px; 
}

.content__categories {
    overflow: scroll;
    border-radius: 10px 0px 0px 10px;
}

.content__categories li {
    display: flex;
    flex-direction: column;
    width: 70px;
    min-height: 25%;
    background: var(--color);
    align-items: flex-end;
}

.content__categories li .aux_sup_may{
    height: 50%;
    display: flex;
    justify-content: end;
}
.content__categories li .aux_sup{
    min-height: 25%;
    width: 100%;
}

.content__categories li .aux_sup .aux_sup-son {
    width: 100%;
    height: 100%;
}

.content__categories li .aux_sup_may, .aux_sup{
    background: var(--color);
}

.radius_sup {
    background: var(--color);
    border-radius: 0px 0px 10px 0px;
}

.radius_down {
    background: var(--color);
    border-radius: 0px 10px 0px 0px;
}

.content__categories-son{
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    border-radius: 15px 0px 0px 15px;
}

.content__categories-into {
    width: 90%;
    height: 100%;
    padding: 7px;
    display: flex;
    align-items: center;
    /*background: white;*/
    border-radius: 10px 0px 0px 10px
}

.content__products-parent {
    width: calc(100% - 80px);
}
.content__products-parent input:focus {
    outline: none;
}

.content__products {
    display: flex;
    width: 100%;
    background: white;
    border-radius: 15px 15px 15px 15px;
}

.content_products_details {
    display: flex;
    flex-direction: column;
}

.content__products {
    overflow: scroll;
}

/* ESTILOS DEL FOOTER DE LAS TIENDAS */
.content__parent-footer {
    display: flex;
    justify-content: space-between;
}

.card__product {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    padding-bottom: 25px;
}

.card_footer-codigo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    border-radius: 10px;
    background: white;
    font-size: 15px;
    cursor: pointer;
}

.content__parent-methodspay {
    display: flex;
    justify-content: space-between;
}

.content__parent-methodspay input {
    border-radius: 15px 15px 15px 15px;
    height:100%;
    font-size: 15px;
}

.active {
    background: white;
}

.content-dollar {
    margin: 0 !important;
}

.table-products-mode-list tr:nth-child(odd){
    background: #ddd !important;
}

.card-module-text {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Media Querys */
@media (min-width: 768px){
    .sidebar .nav-item .nav-link {
        width: 10rem !important;
    }

    .sidebar .nav-item .nav-link .fa{
        line-height: 3px;
    }
}

@media (min-width: 992px){
    .w-xl-40 {
        width: 35% !important;
    }

    .w-xl-58 {
        width: 63% !important;
    }

    .content__parent {
        flex-direction: row !important;
        height: calc(100% - 170px);
    }
}

@media (max-width: 992px){
    .content__parent-footer .content__parent-methodspay {
        width: 100%;
        margin-top: 0.5rem;
    }

    .content__parent-footer .content__parent-footer-prom {
        width: 100%;
    }

    .content__parent-footer {
        flex-direction: column;
    }

    .content__table-parent {
        margin-bottom: 1rem;
    }

    .content-dollar {
        width: 50%;
    }

    .content-dollar img {
        width: 100%;
    }

    .content__parent {
        height: 140%;
    }
    .content__table-parent {
        max-height: 400px;
    }

    .wizard {
        width: 80% !important;
    }

    .wizard-navigation {
        width: 100% !important;
    }

    .tab-content-wizard {
        width: 80% !important;
    }
}

@media (max-width: 768px){
    .content__parent-methodspay {
        flex-direction: column;
    }

    .content_card_footer-codigo {
        width: 100% !important;
    }

    .button-pay {
        width: 100%;
        margin-top: 0.5rem;
    }

    .button-pay input {
        padding: 15px;
    }

    .content-dollar {
        width: 100%;
    }

    .content-dollar img {
        width: 100%;
    }

    #body-pay {
        flex-direction: column!important;
        align-items: center !important;
    }

    #body-pay-efectivo {
        flex-direction: column!important;
        align-items: center !important;
    }

    #body-pay-content {
        width: 100%!important;
    }

    #modal-content-resumen {
        width: 100% !important;
        margin-top: 20px;
    }
    
    #body-toytal-efectivo {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .wizard {
        width: 90% !important;
    }

    .wizard-navigation {
        width: 100% !important;
    }

    .tab-content-wizard {
        width: 90% !important;
    }
}

@media (max-width: 463px){
    .card_footer-codigo span{
        font-size: 14px;
    }

    .wizard {
        width: 100% !important;
    }

    .wizard-navigation, .tab-content-wizard {
        width: 100% !important;
    }
}
