@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?3o1oi3');
  src:  url('../fonts/icomoon.eot?3o1oi3#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?3o1oi3') format('truetype'),
    url('../fonts/icomoon.woff?3o1oi3') format('woff'),
    url('../fonts/icomoon.svg?3o1oi3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-goely:before {
  content: "\e2121";
}
