@charset "UTF-8";
/* CSS Document */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
	background:#333;
	background-image:url(../images/bgmain.jpg);
	background-position: 0 0;
}

#logoloading{
	position:relative;
	display:block;
	left:36%;
	top:20%;
	width: 350px;
	z-index: 1001;
}

#txtloading{
	position:relative;
	display:block;
	left:46%;
	top:42%;
	width: 350px;
	z-index: 1001;
	color:#999999;
	font-size:18px;
}

#txtpercentage{
	position:relative;
	display:block;
	left:47.5%;
	top:13%;
	width: 350px;
	z-index: 1001;
	color:#fff;
	font-size:12px;
}

#linesloading{
	border-top: 1px solid #636363;
    display: block;
    left: 0;
    position: relative;
    top: 48%;
    z-index: 1001;
}

#sloganloading{
    display: block;
    left: 36%;
    position: relative;
    top: 30%;
    z-index: 1001;
}

#loader {
    display: block;
    position: relative;
    left: 40%;
    top: 20%;
    width: 150px;
    height: 150px;
    z-index: 1001;
}

#aro1{
	
	display:block;
	width: 225px;
	height:225px;
}
#aro2{
	
    display: block;
    height: 173px;
    left: 23px;
    position: relative;
    top: -133%;
    width: 173px;
    z-index: -1;
}
#aro3{
	
	content:"";
    display: block;
    height: 110px;
    left: 58px;
    position: relative;
    top: -226%;
    width: 110px;
	
	
}

#aro4{
	
    display: block;
    height: 84px;
    left: 71px;
    position: relative;
    top: -290%;
    width: 84px;
}

#aro5{
	
    display: block;
    height: 71px;
    left: 77px;
    position: relative;
    top: -344%;
    width: 71px;
}

.aro3{
    -webkit-animation-name: spinAro3;
  	-webkit-animation-duration: 1s;
  	-webkit-animation-iteration-count: infinite;
  	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	
	animation-name: spinAro3;
  	animation-duration: 1s;
  	animation-iteration-count: infinite;
  	animation-timing-function: linear;
	animation-delay: 0s;
	
	-moz-animation-name: spinAro3;
  	-moz-animation-duration: 1s;
  	-moz-animation-iteration-count: infinite;
  	-moz-animation-timing-function: linear;
	-moz-animation-delay: 2s;
}

.aro4{
    -webkit-animation-name: spinAro4;
  	-webkit-animation-duration: 1s;
  	-webkit-animation-iteration-count: infinite;
  	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	
	animation-name: spinAro4;
  	animation-duration: 1s;
  	animation-iteration-count: infinite;
  	animation-timing-function: linear;
	animation-delay: 0s;
	
	-moz-animation-name: spinAro4;
  	-moz-animation-duration: 1s;
  	-moz-animation-iteration-count: infinite;
  	-moz-animation-timing-function: linear;
	-moz-animation-delay: 2s;
}

/*Animations*/
 @-webkit-keyframes spinAro3{
 		from { 
            transform: rotate(0deg); 
        } to { 
            transform: rotate(360deg); 
        }
}

@-moz-keyframes spinAro3{
 		from { 
            transform: rotate(0deg); 
        } to { 
            transform: rotate(360deg); 
        }
}

@keyframes spinAro3{
 		
		from { 
            transform: rotate(0deg); 
        } to { 
            transform: rotate(360deg); 
        }
		
       
}

@-webkit-keyframes spinAro4{
 		from { 
            transform: rotate(360deg); 
        } to { 
            transform: rotate(0deg); 
        }
}

@-moz-keyframes spinAro4{
 		from { 
            transform: rotate(360deg); 
        } to { 
            transform: rotate(0deg); 
        }
}

@keyframes spinAro4{
 		
		from { 
            transform: rotate(360deg); 
        } to { 
            transform: rotate(0deg); 
        }
		
       
}