body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0px;
	padding: 0px;
	background-repeat: repeat;
	background-position: 0px 0px;
	color: #666666;
}
#menu {
	background-color: #0033CC;
	display: block;
	width: 100%;
	visibility: visible;
	height: 40px;
	position: fixed;
}

#menu ul li {
	float:left;
	list-style-type: none;
}

#menu ul li a{
	display: block;
	height: 30px;
	width: 100px;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	padding-top: 10px;
}
#menu ul {
	margin: 0px;
	padding: 0px;
}
#menu ul li a:hover {
	background-color: #9E9E9E;
}





#body {
	background-color: #FFFFFF;
	display: block;
	height: auto;
	width: 1200px;
	border: 1px solid #E5E5E5;
	margin-left: 100px;
}
.widget {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	height: auto;
	width: 1000px;
	border: 1px solid #CCCCCC;
	margin-top: 10px;
	margin-left: 50px;
	margin-bottom: 10px;
	float: left;
}
.btn_normal {
	font-size: 11px;
	font-weight: bold;
	background-color: #0033CC;
	text-align: center;
	display: block;
	width: 100px;
	text-decoration: none;
	color: #FFFFFF;
	padding: 4px;
	height: 15px;
	border: 1px solid #000000;
}

.btn_borrar {
	font-size: 11px;
	font-weight: bold;
	background-color:#FF0000;
	text-align: center;
	display: block;
	width: 100px;
	text-decoration: none;
	color: #FFFFFF;
	padding: 4px;
	height: 15px;
	border: 1px solid #FF0000;
}
input {
	background-color: #FCFCFC;
	border: 1px solid #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 11px;
}
select {
	background-color: #FCFCFC;
	border: 1px solid #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 11px;
}

textarea {
	background-color: #FCFCFC;
	border: 1px solid #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}




.widget2{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	height: 500px;
	width: 250px;
	border: 1px solid #CCCCCC;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	float: left;
}

.widget3{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	height: auto;
	width: auto;
	border: 1px solid #CCCCCC;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 50px;
	padding: 10px;
}
.widgetlegend {
	background-image: url(../images/bgframeset.jpg);
	background-repeat: repeat-x;
	height: 50px;
	width: 100%;
	border: 1px solid #CCCCCC;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
}
table {
	border: 1px solid #CCCCCC;
}
th {
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	text-decoration: none;
	background-color: #EFEFEF;
	height: 40px;
	width: 100px;
}
