body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0px;
	padding: 0px;
	background-repeat: repeat;
	background-position: 0px 0px;
	color: #000;
	/*background-image: url(../images/bgmain.jpg);*/
	background-color: #fff;
}
#resmenu {
	display: none;
}
#menu {
	background-color: #000033;
	display: block;
	width: 100%;
	visibility: visible;
	height: 40px;
	position: fixed;
	z-index: 10;
}

#menu ul li {
	float:left;
	list-style-type: none;
}

#menu ul li a{
	display: block;
	height: 30px;
	width: 100px;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	padding-top: 10px;
	font-size: 10px;
}
#menu ul {
	margin: 0px;
	padding: 0px;
}
#menu ul li a:hover {
	background-color: #9E9E9E;
	-moz-transition: background-color 0.1s linear 0.1s;
	-webkit-transition: background-color 0.1s linear 0.1s;
	transition: background-color 0.1s linear 0.1s;
}

/*MENU DESPLEGABLE*/
#menu ul li ul{
	display: none;
	position:absolute;
	list-style:none;
	opacity: 0.8;
	filter: alpha(opacity=50); /*IE*/
	width:300px;
}

#menu li:hover > ul{
	display:block;
	z-index:500;
}

#menu .sec1{
	list-style-type:none;
	background-color:#cccccc;
	border-bottom: solid 1px #333333;

}

#menu .sec2{
	list-style-type:none;
	background-color:#FFFF4D;
}

#menu .myaccount{
	list-style-type:none;
	background-color:#fff;
	width: 500px;
	height: 500px;
	border: solid 1px #000;
	opacity: 1;
	filter: alpha(opacity=100); /*IE*/
}

#menu ul li ul li{
	float:left;
 
}

#menu ul li ul li a{
	display: block;
	height:30px;
	width:150px;
	color:#000000;
	text-decoration:none;
	text-align:left;
	font-weight:400;
	padding-top: 10px;
	z-index:300;
	padding-bottom:8px;
	padding-left:8px;
	padding-right:8px;
	z-index:500;
	
}
/*Fin menu desplegable*/
/*Responsive*/
@media screen and (max-width:800px ) {
 #resmenu{
 	background-color: #000033;
	display: block;
	width: 150%;
	max-height: 40px;
	z-index: 10;
 }
 
 #resmenu > a {
 	color: #fff;
 	font-size: 40px;
 	margin-left: 50px;
 }
 
 #menu {
 	display: none;
 	width: 30%;
 	height: 1000%;
 	position: absolute;
 }
 #menu ul li{
        float:none;
 	list-style-type: none;
 }
 #menu ul li ul li{
	float:none;
 
}

#menu ul li ul {
position:inherit;
width: 100%;
}

#menu ul li a{
	width: 100%;
}

#menu ul li ul li a{
	width: 75px;
}

#menu ul li a:active{
 width: 100%;
}

.widget3{
	margin-left: 0px;
}
 
}




#body {
	background-color: #FFFFFF;
	display: block;
	height: auto;
	width: 1200px;
	border: 1px solid #E5E5E5;
	margin-left: 100px;
}
.widget {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fff;
	height: auto;
	width: 1000px;
	border: 1px solid #000;
	margin-top: 10px;
	margin-left: 50px;
	margin-bottom: 10px;
	float: left;
}
.btn_normal {
	font-size: 11px;
	font-weight: bold;
	background-color: #000000;
	text-align: center;
	display: block;
	max-width: 120px;
	min-width: 100px;
	text-decoration: none;
	color: #FFFFFF;
	padding: 4px;
	max-height: 20px;
	border: 1px solid #000000;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.btn_borrar {
	font-size: 11px;
	font-weight: bold;
	background-color:#FF0000;
	text-align: center;
	display: block;
	max-width: 120px;
	min-width: 100px;
	text-decoration: none;
	color: #FFFFFF;
	padding: 4px;
	max-height: 20px;
	border: 1px solid #FF0000;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
/*input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="time"], input[type="date"]  {
	background-color: #fff;
	border: 1px solid #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 14px;
	width: 100%;
	height: 2em;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	margin-bottom: 2px;
}*/
/*select:not([multiple]) {
	background-color: #fff;
	border: 1px solid #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 14px;
	width: 100%;
	min-height: 2em;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	margin-bottom: 2px;
}*/

select {
	background-color: #fff;
	border: 1px solid #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 14px;
	width: 100%;
	height: 2em;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	margin-bottom: 2px;
}

textarea {
	background-color: #fff;
	border: 1px solid #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666666;
	width: 100%;
	height: 10em;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	margin-bottom: 2px;
}

/*.btn_submit{
	font-size: 11px;
	font-weight: bold;
	background-color: #000000;
	text-align: center;
	display: block;
	min-width: 120px;
	text-decoration: none;
	color: #FFFFFF;
	padding: 4px;
	height: 30px;
	border: 1px solid #000000;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}*/

.btn_submitdel{
	font-size: 11px;
	font-weight: bold;
	background-color: #ff0000;
	text-align: center;
	display: block;
	min-width: 120px;
	text-decoration: none;
	color: #FFFFFF;
	padding: 4px;
	height: 30px;
	border: 1px solid #000000;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}




.widget2{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fff;
	height: 500px;
	width: 250px;
	border: 1px solid #E6E6E6;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	float: left;
	position: fixed;
	right: 0px;
	bottom: 100px;
}

.widget3{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fff;
	height: auto;
	min-width: 91%;
	border: 1px solid #E6E6E6;
	float: left;
	margin-bottom: 10px;
	padding: 10px;
}

.widget4{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fff;
	height: 400px;
	width: 280px;
	border: 1px solid #E6E6E6;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	float: left;
	position: relative;
	left: 0px;
	bottom: 0px;
	display: inline-block;
	z-index: 10000;
}

.widgetlegend {
	/*background-image: url(../images/bgframeset2.jpg);*/
	background-repeat: repeat-x;
	height: 50px;
	border-bottom: 1px solid #CCCCCC;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
}


table {
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	padding: 0px;
	width: 100%;
	border-collapse: collapse;
	
}
th {
	font-size: 13px;
	font-weight: bold;
	/*text-transform: uppercase;*/
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	background-color: #fff;
	height: 40px;
	/*width: 100px;*/
	text-align: left;
	border-bottom: 1px solid #CCCCCC;
}
td {
	padding: 10px;
	height: 28px;
	
}

tr:nth-child(odd) {
    background-color:#f5f5f5;
}
tr:nth-child(even) {
    background-color:#fff;
}

tr:hover {
 /*background-color: #ccc;*/
 
}

/*Botones*/
.btn_1 {
	font-size: 9px;
	font-weight: bold;
	background-color: #0033CC;
	text-align: center;
	display: block;
	min-width: 80px;
	max-width: 100px;
	text-decoration: none;
	color: #FFFFFF;
	padding: 4px;
	height: 12px;
	border: 1px solid #000000;
	text-transform: uppercase;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.btn_2 {
	font-size: 9px;
	font-weight: bold;
	background-color:#FF0000;
	text-align: center;
	display: block;
	min-width: 80px;
	max-width: 100px;
	text-decoration: none;
	color: #FFFFFF;
	padding: 4px;
	max-height: 12px;
	border: 1px solid #000000;
	text-transform: uppercase;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.btn_3 {
	font-size: 9px;
	font-weight: bold;
	background-color:#000000;
	text-align: center;
	display: block;
	min-width: 80px;
	max-width: 100px;
	text-decoration: none;
	color: #FFFFFF;
	padding: 4px;
	height: 12px;
	border: 1px solid #000000;
	text-transform: uppercase;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.btn_4 {
	font-size: 9px;
	font-weight: bold;
	background-color:#00FF00;
	text-align: center;
	display: block;
	min-width: 80px;
	max-width: 100px;
	text-decoration: none;
	color: #000000;
	padding: 4px;
	height: 12px;
	border: 1px solid #000000;
	text-transform: uppercase;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.btn_5 {
	font-size: 9px;
	font-weight: bold;
	background-color:#CCCCCC;
	text-align: center;
	display: block;
	min-width: 80px;
	max-width: 100px;
	text-decoration: none;
	color: #FFFFFF;
	padding: 4px;
	height: 12px;
	border: 1px solid #000000;
	text-transform: uppercase;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#dash{
	min-width: 100%;
	min-height: 90%;
}
#dash ul {
	margin: 0px;
	padding: 0px;
}
#dash ul li {
	padding: 0px;
	float: left;
	display:block;
	list-style:none;
	/*border-bottom: solid 2px #A8A8B7;*/
	min-width: 34em;
	min-height: 26em;
	margin: 5px;
	/*margin-right: 15px;*/
	
}

/*Toggle Checkbox*/
.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 62px;
  height: 32px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #FF0000;
  transition: background-color ease 0.3s;
}

.toggle:before {
  content: "on off";
  display: block;
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  background: #fff;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -22px;
  word-spacing: 37px;
  color: #fff;
  text-shadow: -1px -1px rgba(0,0,0,0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
  background-color: #4CD964;
}

.toggle:checked:before {
  left: 32px;
}

/*Desk Button Style*/
#desk{
	display: flex;
	flex-wrap: wrap;
}

#desk p{
	height: 100%;
}

#desk p span{
	padding-top: 6px;
}


#desk a {
	padding: 5px;
	font-size: 11px;
}

#desk a .fa {
	font-size: 40px;
}

#desk .box{
	width: 100px; 
    height: 100px; 
    text-align: center; 
    display: block; 
    margin: 5px;
    padding: 5px; 
    float: left; 
    color: #fff;
}