.oksend {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	background-color: #DFFFDF;
	text-align: center;
	display: block;
	margin: 3px;
	height: 50px;
	width: 98%;
	border: 1px solid #80FF80;
	padding-top: 15px;
}

.badsend {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	background-color: #FFCEE7;
	text-align: center;
	display: block;
	margin: 3px;
	height: 50px;
	width: 98%;
	border: 1px solid #FF0080;
	padding-top: 15px;
}

table{
 width: 100%;
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 border: solid 1px #999999;
 background-color:#FFFFFF;
}

table input{
 width: 100%;
 height: 50px;
 background-color:#f5f5f5;
 color:#333333;
 font-size:16px;
 border: 0px;
 padding: 8px;
}

table select{
 width: 100%;
 height: 50px;
 background-color:#f5f5f5;
 color:#333333;
 font-size:16px;
 border: 0px;
 padding: 8px;
}

table td {
 width: 50%;
 font-size:16px;
}
