/***********************************************************************************************************************
DOCUMENT: style/format.css
DEVELOPED BY: Ryan Stemkoski
COMPANY: Zipline Interactive
EMAIL: ryan@gozipline.com
PHONE: 509-321-2849
DATE: 2/26/2009
DESCRIPTION: This document contains the structural formatting files for the accordion style menu.
************************************************************************************************************************/
#wrapper {
	width: 1120px;
	margin-left: auto;
	margin-right: auto;
	}

.accordionButton {
	width: 1120px;
	height:60px;
	float: left;
	background: #00529A;
	border-bottom: 1px solid #FFFFFF;
	cursor: pointer;
	color:#FFFFFF;
	font-size: 16xpx;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 3px;
	padding-bottom: 0px;
	padding-left: 10px;
	color:#FFFFFF;
	}
	
.accordionContent {	
	width: 1120px;
	float: left;
	display: none;
	}
