/* CSS Document */
.menur {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	width:200px;

}

#menur ul, li {
        list-style-type: none;
}

#menur ul {
        margin: 0;
        padding: 10px;
}

#menur li {
        border-bottom: 1px solid #ACCFE8;
}

#menur a {
        font-family: Arial, Helvetica, sans-serif;
	    font-size: 11px;
	    font-weight: bold;
        text-decoration: none;
        color: #8C9497;
        background: #f5f5f5;
        display: block;
        padding: 3px 6px;
        width: 200px;
}

#menur a:hover {
        background: #DBEBF6;
}

