<span style='color: #000'>53 frames</span>	<span style='color: #900'>9,472 KB</span>	<span style='color: #090'>352.65 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />