@charset "UTF-8";
/* CSS Document */

#projects{
	width:960px;
}
#projects ul {
	margin: 0px;
	padding: 0px;
}
#projects ul li {
	margin: 28px 0px -8px;
	padding: 0px;
	float: left;
	display:block;
	margin-right:0px;
	list-style:none;
	border-bottom: solid 2px #A8A8B7;
	
}


#projects ul li a:hover{
	background-color:#CCCCCC;
	display: block;
	height: 123px;
	width: 148px;
	z-index:100;
}

.nonbottomborder{
 border-bottom: solid 2px #A8A8B7;
}
