/* CSS Document */
#crmOpt{
 width: 900px;
 display:block;
 height:300px;
}

#crmOpt ul{
	margin:0;
	padding:0;
	list-style:none;
}

#crmOpt ul li {
float:left;
width:200px;
height:243px;
padding-right:5px;

}

#crmOpt ul li a{
 text-decoration:none;
}

#crmOpt ul li .txt_notebook{
position:relative;
top:-144px;
right:-46px;
font-family:Arial, Helvetica, sans-serif;
color:#000000;
font-size:17px;
text-transform:uppercase;
text-decoration:none;
}

#crmOpt ul li span.text-content {
background: rgba(0,0,0,0.5);
color: white;
display: none;
height: 233px;
width: 197px;
top:-267px;
position:relative;
text-decoration:none;
}

#crmOpt ul li a:hover span.text-content {
background: rgba(0,0,0,0.5);
color: white;
display: block;
height: 223px;
width: 187px;
top:-267px;
opacity: 1;
position:relative;
padding:10px;
-webkit-transition: opacity 500ms;
-moz-transition: opacity 500ms;
-o-transition: opacity 500ms;
transition: opacity 500ms;
text-decoration:none;
}
 
/*#crmOpt ul li span.text-content span {
display: table-cell;
text-align: center;
vertical-align: middle;
}

#crmOpt ul li span.text-content {
background: rgba(0,0,0,0.5);
color: white;
cursor: pointer;
display: table;
height: 233px;
left: 113px;
position: absolute;
top: 233px;
width: 196px;
opacity: 0;
-webkit-transition: opacity 500ms;
-moz-transition: opacity 500ms;
-o-transition: opacity 500ms;
transition: opacity 500ms;
}
 
#crmOpt ul li:hover span.text-content {
opacity: 1;
}*/


