/* CSS Document */
#cash{
 font-size:66px;
 width: 200px;
 height: 100px;
}

#devol1{
 font-size:66px;
 width: 200px;
 height: 100px;
}

h3{
 font-size:66px;
 width: 200px;
 height: 100px;
}

#showCat {
    width: 600px;
    display: inline-block;
}

#showCat ul li {
	list-style-type: none;
	display: inline;
}

#showCat ul li a{
	display: inline;
	height: 100px;
	width: 150px;
	color: #FFFFFF;
	background-color: #f00;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	margin: 5px;
	font-size: 12px;
	float:left;
	padding-top: 20px;
	
}

#showProd {
    width: 600px;
    display: inline-block;
}

#showProd ul li {
	list-style-type: none;
	display: inline;
}

#showProd ul li a{
	display: inline;
	height: 100px;
	width: 150px;
	color: #FFFFFF;
	background-color: #f00;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	margin: 5px;
	font-size: 12px;
	float:left;
	padding-top: 20px;
	
}

