@charset "UTF-8";
/* CSS Document */

table {
	border: 1px solid #CCCCCC;
	background-color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
}
th {
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	text-decoration: none;
	background-color: #EFEFEF;
	height: 40px;
	width: 100px;
}